<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'prenotamensa/css/docs.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'prenotamensa/css/bootstrap.min.css' %}"/>

    <script src="{% static 'prenotamensa/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'prenotamensa/js/canvasjs.stock.min.js' %}"></script>
    <script type="text/javascript">
    </script>
    
    <title>Prenotazione Pasto a mensa</title>
    <style>
      body {
      background-image: url({% static "prenotamensa/logobg2.png" %});
      background-repeat: no-repeat;
      background-size: 500px;
      }
      </style>
  </head>
  <body style="background-color:#73A16C;">

    <form action="{% url 'check' %}" method="post">
      {% csrf_token %}
        <div class="container my-5 text-center" style="max-width: 580px;">
          <h1>Inserisci numero di CMD</h1>
          <br>
          <input class="form-control" type="text" placeholder="Numero CMD" id="numerocmd" name="numerocmd" autocomplete="off">
        </div>
        <div class="container my-5" style="max-width: 580px;">
          <div style="max-width: 110px;">
            <div class="form-check">
              {% if to_disable.colazione == 'disable' %}
                <input type="radio" class="form-check-input" id="colazione" name="optradio" value="colazione" disabled>
              {% else %}
                <input type="radio" class="form-check-input" id="colazione" name="optradio" value="colazione" checked>
              {% endif %}
              <label class="form-check-label" for="radio1" style="font-size: 20px;"><b>Colazione</b></label>
            </div>
            <div class="form-check">
              {% if to_disable.pranzo == 'disable' %}
                <input type="radio" class="form-check-input" id="pranzo" name="optradio" value="pranzo" disabled>
              {% else %}
                <input type="radio" class="form-check-input" id="pranzo" name="optradio" value="pranzo" checked>
              {% endif %}
            <label class="form-check-label" for="radio2" style="font-size: 20px;"><b>Pranzo</b></label>
            </div>
            <div class="form-check">
              {% if to_disable.cena == 'disable' %}
                <input type="radio" class="form-check-input" id="cena" name="optradio" value="cena" disabled>
              {% else %}
                <input type="radio" class="form-check-input" id="cena" name="optradio" value="cena" checked>
              {% endif %}
            <label class="form-check-label" style="font-size: 20px;"><b>Cena</b></label>
            </div>
            <div class="form-check">
              {% if to_disable.sandwich == 'disable' %}
                <input type="radio" class="form-check-input" id="sandwich" name="optradio" value="sandwich" disabled>
              {% else %}
                <input type="radio" class="form-check-input" id="sandwich" name="optradio" value="sandwich" checked>
              {% endif %}
            <label class="form-check-label" style="font-size: 20px;"><b>Sandwich</b></label>
            </div>
            <div class="form-check">
              <input type="radio" class="form-check-input" id="nopasto" name="optradio">
              <label class="form-check-label" style="font-size: 20px;"><b>No Pasto</b></label>
            </div>
          </div>
          <hr>
          <div style="max-width: 40px;">
            <div class="form-check">
              <input type="radio" class="form-check-input" id="lavanderia" name="optradiolav" value="lavanderia">
              <label class="form-check-label" style="font-size: 20px;"><b>Lavanderia</b></label>
            </div>
          </div>
        </div>
        <div class="container my-5 text-center" style="max-width: 580px;">
          <input type="submit" value="Salva" class="btn btn-primary" id="salva">
        </div>
      </form>
    </body>