<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'prenotamensa/css/docs.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'prenotamensa/css/bootstrap.min.css' %}"/>

    <script src="{% static 'prenotamensa/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'prenotamensa/js/canvasjs.stock.min.js' %}"></script>
    <script type="text/javascript">
    </script>
    
    <title>Prenotazione Pasto a mensa</title>
    <style>
        body {
        background-image: url({% static "prenotamensa/logobg2.png" %});
        background-repeat: no-repeat;
        background-size: 500px;
        }
        </style>
  </head>
  <body style="background-color:#73A16C;">
    <div class="container my-5 text-center" style="max-width: 580px;">
        <h1>{{messaggio1}}</h1>
        <h3 style="color:green">{{messaggio2}}</h3>
    </br>
    <button type="button" class="btn btn-primary">
        <a href="{% url 'index' %}" style="color:#FFFFFF;">Torna Indietro</a>
    </button>
    </div>
   
</body>